{% extends 'gallery/core.html' %}
{% block title %}Walery's gallery{% endblock %}

{% block content %}
<section class="my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h3>Upload Image</h3>
        <form method="POST" enctype="multipart/form-data" class="mt-4">
          {% csrf_token %}
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-control" id="category" name="category" required>
              <option value="">Select a Category</option>
              {% for category in categories %}
              <option value="{{ category.id }}">{{ category.title }}</option>
              {% endfor %}
            </select>
            {{ form.category.errors }}
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" class="form-control" id="image" name="image" required>
            {{ form.image.errors }}
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="4"></textarea>
          </div>
          <button type="submit" class="btn btn-primary w-100">Upload Image</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}