{% load static %}

<footer class="p-4 bg-dark text-white text-center footer" id="footer">
    <img src="{% static 'rugby/img/rugby.jpg' %}" class="img-fluid">
    <div class="container p-4 pb-0">
        <p class="pb-0 mb-0">Spodobała Ci się ta strona? Chętnie pomogę i stworzę dla Ciebie lub Twojej firmy stronę internetową, aplikację webową, oprogramowanie. <br>Zapraszam do kontaktu:</p>
    </div>
    <div class="container mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="mailto:waleron@gmail.com" role="button"><i class="fab fa-google"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://linkedin.com/in/michał-walerowicz-b94b01b2" role="button" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/draprar" role="button" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    <div class="container">
        <p>Copyright &copy; <a href="mailto:waleron@gmail.com" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Michał Walerowicz</a> 2024</p>
        <p class="small">Stworzono z wykorzystaniem:<br>Python 3.10 (język programowania), Django (framework), MySQL (baza danych), HTML, CSS&Bootstrap i JavaScript (front-end).</p>
    </div>
</footer>