{% load static %}

<section class="hero">
    <div class="text-secondary px-4 py-5 text-center">
        <div class="py-5 text-uppercase">
            <p class="fs-2 mb-4 text-white">Witaj w archiwum AFC Rugby Giżycko</p>
            <h1 class="display-1 fw-bold text-white">Udanego zwiedzania!</h1>
            <div class="col-lg-6 mx-auto btn">
                <a class="btn btn-warning btn-lg text-uppercase fw-bold" href="{% url 'home' %}#contact">Kontakt</a>
            </div>
            <p class="fs-6"><a class="link-warning link-underline-opacity-0 link-underline-opacity-0-hover" href="#footer">Masz pomysł na stronę internetową? Potrzebujesz aplikacji lub oprogramowania? Daj znać!</a></p>
        </div>
    </div>
</section>