{% load static %}

<section class="page-section" id="info">
   <div class="container px-4 py-5 ">
     <div class="text-center info">
       <h2 class="text-uppercase">Drużyna</h2>
       <h5 class="my-3 text-muted"><em>Poznaj kilka faktów dotyczących drużyny.</em></h5>
     </div>
     <div class="row text-center">
       <div class="col-md-4">
         <span class="fa-stack fa-4x">
           <i class="fas fa-circle fa-stack-2x text-warning text-primary"></i>
           <i class="fas fa-magnifying-glass fa-stack-1x fa-inverse"></i>
         </span>
         <h4 class="my-3">Nabór</h4>
           <p class="text-muted">Nabór do drużyny trwał cały rok, bez znaczenia był wiek, doświadczenie oraz warunki fizyczne - miejsce na boisku było dla każdego z chęcią do gry i zaangażowaniem.
               <br>
               W okresie letnim (gdyż zimą trenowaliśmy na hali wojskowej dzięki uprzejmości Jednostki Wojskowej 4352) można było przyjść na trening i popatrzeć, nie biorąc w nim udziału.
               <br>
               Trenowanie było bezpłatne.
           </p>
       </div>

         <div class="col-md-4">
             <span class="fa-stack fa-4x">
                 <i class="fas fa-circle fa-stack-2x text-warning text-primary"></i>
                 <i class="fas fa-football fa-stack-1x fa-inverse"></i>
             </span>
             <h4 class="my-3">Treningi</h4>
             <p class="text-muted">Trenowaliśmy 2-3 razy w tygodniu w różnych miejscach: przez większą część działalności na stadionie MOSiR (płyta boczna), choć widziano nas także na miejscowych "Orlikach", boiskach szkolnych, a także w miejscowości Bystry.
                 <br>
                 Graliśmy w odmianę siedmioosobową rugby. Ze względu na zredukowaną ilość zawodników w drużynie, na boisku jest więcej przestrzeni oraz zmniejsza się czas gry w kontakcie - liczy się przede wszystkim spryt i szybkość.
             </p>
         </div>
         <div class="col-md-4">
             <span class="fa-stack fa-4x">
                 <i class="fas fa-circle fa-stack-2x text-warning text-primary"></i>
                 <i class="fas fa-users fa-stack-1x fa-inverse"></i>
             </span>
             <h4 class="my-3">Zawodnicy</h4>
             <p class="text-muted">W najbardziej sowitych czasach zarejestrowanych było 18 aktywnych zawodników, w wieku 15-22 lata, o wadze 50-100 kg i wzroście 160-185 cm.
                 <br><br>
                 <strong>Panowie, podopieczni, koledzy, również przyjaciele - dziękuję za te dwa lata zaangażowania z Waszej strony, wspólnej nauki, łapania dobrych chwil, zarówno rugbowych, jak i pozasportowych oraz przede wszystkim świetnej zabawy!</strong></p>
         </div>
     </div>
   </div>
 </section>