{% load static %}

<section class="page-section bg-light" id="media">
    <div class="container px-4 py-5">
        <div class="text-center info">
            <h2 class="text-uppercase title">Promocja klubu</h2>
            <h5 class="my-3 text-muted"><em>Wybrane materiały prasowe, plakaty oraz media.</em></h5>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img class="img-fluid" src="{% static 'rugby/img/1_poster.png' %}" alt="..." />
                    <div class="card-body">
                        <p class="font-weight-bold">Pierwszy plakat</p>
                        <p class="text-muted">Autor: Jakub Turek</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="img-fluid" src="{% static 'rugby/img/2_poster.jpg' %}" alt="..." />
                    <div class="card-body">
                        <p class="font-weight-bold">Drugi plakat</p>
                        <p class="text-muted">Autor: Jakub Turek</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="img-fluid" src="{% static 'rugby/img/gg.png' %}" alt="..." />
                    <div class="card-body">
                        <p class="font-weight-bold">Artykuł (Gazeta Giżycka)</p>
                        <p class="text-muted">Autor: Paweł Mieczkowski</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="img-fluid" src="{% static 'rugby/img/go.png' %}" alt="..." />
                    <div class="card-body">
                        <p class="font-weight-bold">Artykuł (Gazeta Olsztyńska)</p>
                        <p class="text-muted">Autor: Sebastian Woźniak</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="img-fluid" src="{% static 'rugby/img/pzr.png' %}" alt="..." />
                    <div class="card-body">
                        <p class="font-weight-bold">Encyklopedia Polskiego Rugby</p>
                        <p class="text-muted">Autorzy: Maciej Powała-Niedźwiedzki & Jacek Wierzbicki</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/TBdK3AkhQKE?si=OQn3UF6b4k8XRycV" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                        <p class="font-weight-bold">Film</p>
                        <p class="text-muted">Autor: Michał Walerowicz</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
